<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <header>
            <nav class="pt-2 px-2">
                <a href="/" class="mx-2">Home</a>
                <a href="/dashboard" class="mx-2">Dashboard</a>
                {{#if loggedIn}}
                <button id="logout">Logout</button>
                {{else}}
                <a href="/login" class="mx-2">Login</a>
                {{/if}}
            </nav>
            <div class="page-title py-2 px-2">
                <h1 class="card-header w-25 py-2">Tech Blog</h1>
            </div>
        </header>
        <main>
            {{{body}}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>