<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title" class="form-label mx-2 mt-1">Title:</label>
      <input type="text" id="post-title" name="post-title" class="form-input mx-2"/>
    </div>
    <div>
      <label for="post-text" class="form-label mx-2 mt-1">Content:</label>
      <textarea id="post-text" name="post-text" class="form-textarea mx-2 mb-2" rows="5"></textarea>
    </div>
    <button type="submit" class="btn mx-2">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>