<div class="form-wrapper flex-row justify-space-around py-4">
  <form class="login-form">
    <h2 class="mx-2">  Have an account?  Login here!</h2>
    <div>
      <label for="username-login" class="form-label mx-2">Username:</label>
      <input type="text" id="username-login" class="form-input mx-2"/>
    </div>
    <div>
      <label for="password-login" class="form-label mx-2">Password:</label>
      <input type="password" id="password-login" class="form-input mx-2" />
    </div>
    <div>
      <button type="submit" class="btn mx-2">Login</button>
    </div>
  </form>

  <form class="signup-form">
    <h2 class="mx-2">Join us here!</h2>
    <div>
      <label for="username-signup" class="form-label mx-2">Username:</label>
      <input type="text" id="username-signup" class="form-input mx-2"/>
    </div>
    <div>
      <label for="password-signup" class="form-label mx-2">Password:</label>
      <input type="password" id="password-signup" class="form-input mx-2"/>
    </div>
    <div>
      <button type="submit" class="btn mx-2">Signup</button>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>