<article class="post">
    <div>
        <h2>{{post.title}}</h2>
        <h5>By {{post.user.username}} on {{format_date post.created_at}}</h5>
    </div>
    <div class="mt-4">
        <p>{{post.text}}</p>
    </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body" class="mx-2 mt-2 form-textarea" rows="5"></textarea>
    </div>

    <div>
        <button type="submit" class="mx-2">Add Comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}